/**
 * SVG ICONS
 */
svg[class^="i-"]
  stroke-width: 1.4
  stroke: currentColor

svg.i-close
  width: 12px
  height: 12px


svg.i-arrow
  width: 50px
  height: 8px
  fill: currentColor
  stroke: none


svg.i-draw-arrow
  height: 21px
  width: 54px
  fill: currentColor
  stroke: none


svg.i-send
  width: 24px
  height: 24px
  fill: currentColor
  stroke: none