/* Заголовки */

=heading-size-1
  // font-size: 48px
  line-height: 1.05
  +yo('font-size', (1300px: 36px, 1920px: 48px))

=heading-size-2
  // font-size: 32px
  line-height: 1.125
  +yo('font-size', (1300px: 24px, 1920px: 32px, 2550px: 46px))

=heading-size-3
  font-size: 24px
  +yo('font-size', (1300px: 20px, 1920px: 24px))


h1
  +heading-size-1
h2
  +heading-size-2
h3
  +heading-size-3

