.about
  overflow: hidden
  max-width: 50%

  position: absolute
  z-index: 1
  bottom: 0
  left: 0

  color: #fff
  font-size: 16px
  line-height: 1.5

  @media (max-width: 1600px)
    max-width: 960px

  @media (max-width: 1440px)
    font-size: 14px

  @media (max-width: $tablet)
    position: static
    max-width: unset
    width: 100%


.about__bg
  position: absolute
  top: 0
  left: 0

  width: 100%
  height: 100%

  pointer-events: none


.about__content
  position: relative
  z-index: 1

  @media (max-width: $tablet)
    max-width: 40em

.about__content .arrow-btn
  display: none
  // @media (max-height: 840px)
  //   display: none


.about__title
  position: relative

  width: 35%
  +obj(b)
  +yo('font-size', (1300px: 48px, 1920px: 64px, 2550px: 72px))

  @media (max-width: $tablet)
    display: none

.about__title .about__bg
  background: $blue-m

.about__text
  position: relative

  width: 65%
  padding: 5% 6.7%

  @media (max-width: 1600px)
    padding: 40px 40px 40px 72px

  @media (max-width: $tablet)
    padding: $unit
    width: 100%

  @media (max-width: 500px)
    padding: 40px $unit

.about__text .about__bg
  background: $blue-b

// .about__text p
//   @media (min-height: 841px)
//     margin-bottom: 24px

