.header
  position: relative
  z-index: 2

  +yo('padding-top', (1300px: 16px, 1920px: 24px))
  +yo('padding-bottom', (1300px: 16px, 1920px: 24px))

  +obj(m)
  +base-text(true)


// Container
.header .container
  padding-right: 32px
  

// Text color
.header
  color: #fff
.header a
  +link(#fff)

// Dark text color
.header--dark
  color: $black

.header--dark a
  +link($black)
  

// Logo
.header__logo
  width: 170px
  height: 56px

  @media (max-width: 1400px)
    width: 144px
    height: 48px

.header__logo img
  display: block
  max-width: 100%
  height: auto

.header .hamburger
  +yo('margin-left', (1300px: 56px, 1920px: 80px))

.header .hamburger.active
  z-index: 2
  position: fixed
  top: 32px
  right: 32px


// List
.header__list
  transition: $trs-4

.header__list li
  margin-left: 48px

