.header
  position: relative
  z-index: 3  

  +yo('padding-top', (1300px: 16px, 1920px: 24px))
  +yo('padding-bottom', (1300px: 16px, 1920px: 24px))

  +obj(m)
  +base-text(true)

  @media (max-width: 500px)
    min-height: 72px
    height: 72px


// Container
.header .container
  padding-right: 32px

  @media (max-width: 1200px)
    padding-right: $unit
  

// Text color
.header
  color: #fff
.header a
  +link(#fff)

// Dark text color
.header--dark
  color: $black

.header--dark a
  +link($black)
  

// Logo
.header__logo
  width: 170px
  height: 56px

  @media (max-width: 1400px)
    width: 144px
    height: 48px

  @media (max-width: 500px)
    width: 120px
    height: 40px

.header__logo img
  display: block
  max-width: 100%
  height: auto

.header .hamburger
  +yo('margin-left', (1300px: 56px, 1920px: 80px))

  @media (max-width: 1000px)
    margin-left: 32px

.header .hamburger.active
  z-index: 3
  position: fixed
  +yo('top', (1300px: 20px, 1920px: 32px))
  right: 32px

  @media (max-width: $tablet)
    right: $unit


// List
.header__list
  @media (max-width: 1000px)
    display: none

.header__list li
  margin-left: 48px


// Phone
.header__phone
  +link(#fff)

  margin-left: auto
  display: none

  @media (max-width: 1000px)
    display: flex
    align-items: center
    justify-content: center
