.main-list
  width: 100%
  height: 100%
  padding-top: calc(#{$header-h} - 1px)

  color: #fff

  @media (max-width: $tablet)
    padding-top: 0

  @media (max-width: 950px)
    cursor: move
    background: $blue-s

.main-list:not(.stroke-visible) li
  border-top: 1px solid transparent
  &::before
    opacity: 0

.main-list.stroke-visible li
  border-top: 1px solid $blue-m
  &::before
    opacity: 1

.main-list li:not(.stroke-visible)
  @media (max-width: $tablet)
    border-top: 1px solid $blue-m

.main-list li:not(.stroke-visible)::before
  @media (max-width: $tablet)
      opacity: 1


// List item
.main-list li
  position: relative
  
  width: 33.3333%
  height: 100%

  transition: $trs

  @media (max-width: $tablet)
    min-width: 316px
    height: auto


// Border
.main-list li:not(:last-child)::before
  content: ''
  position: absolute
  top: 0
  bottom: 0
  right: 0

  width: 1px
  height: 100%

  background: $blue-m
  transition: $trs


// Cover
.main-list .cover
  background: $blue-s
  margin-top: calc(-1 * #{$header-h})
  height: calc(100% + #{$header-h})

  @media (max-width: 950px)
    display: none


// Num
.main-list__num
  display: block
  margin-bottom: 16px


// Title
.main-list__title
  margin-bottom: 1em

  @media (max-width: $tablet)
    margin-bottom: 2em


// Content
.main-list__content
  +yo('padding-top', (1300px: 48px, 1920px: 104px))
  padding-left: $unit
  padding-right: $unit

  height: 70%
  display: flex
  flex-direction: column
  align-items: flex-start

  @media (max-width: $tablet)
    padding-bottom: $unit
    display: block
    height: auto
  

// Image
.main-list__btn img
  display: block
  max-width: 100%
  width: 90%
  height: auto

  transition: 0.6s ease

  @media (max-width: 1440px)
    width: 80%

  @media (max-width: $tablet)
    width: 70%

// Button
.main-list__btn
  margin-top: auto
  margin-left: auto
  margin-right: auto

  display: block
  width: 100%

  &:hover img
    transform: scale(1.05)

