.section
  position: absolute
  top: 0
  left: 0

  width: 100%
  height: 100%

.section:not(:first-child)
  visibility: hidden

.section
  pointer-events: none

.section.active
  // visibility: visible
  pointer-events: auto


// Advantages
.section--advantages .section-text__inner
  left: 38%


// Clients
.section--clients .cells
  border-width: 1px 0 0 1px
  border-style: solid
  border-color: rgba(#858585, 0.15)
  box-shadow: none

  left: unset
  right: 9.315%

.section--clients .cell__content
  top: 25%

  

