.section-text
  position: absolute
  top: 0
  left: 0

  width: 100%
  height: 100%

.section-text--pink
  .i-draw-arrow
    color: $pink
  .video
    background: $pink

.section-text--yellow
  .i-draw-arrow
    color: $yellow
  .video
    background: $yellow

.section-text--blue
  .i-draw-arrow
    color: $blue-r
  .video
    background: $blue-r


// Content
.section-text__content
  position: relative
  flex: 1
  height: 100%


// Inner
.section-text__inner
  max-width: 25em
  position: absolute
  top: 50%
  left: 8.3vw
  transform: translate(0, -50%)


// Num
.section-text__num
  display: block
  margin-bottom: 16px


// Title
.section-text__title
  color: $black
  margin-bottom: 1.1em


// Text
.section-text__inner p
  margin-bottom: 2.4em


// Button
.section-text__btn
  svg
    margin-right: 24px
  img
    display: block
    max-width: 100%
    width: 184px
    height: auto


// Video
.section-text__video
  min-width: 55%


// Image
.section-text__img
  min-width: 40%
  width: 40%

